        /* police de la page*/
@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
}

        /*général*/
*{
    box-sizing: border-box;
}

body{
    font-family: Raleway, Verdana, sans-serif;
}

a{
    display: block;
    text-decoration: none;
    color :black
}
a:visited{
    color: black;
}

/* #region header */
        /*Header / Menu*/

header{
   width: 100%; 
   height: 30%;
   padding-left: 3%;
   padding-right: 3%;
}
.Menu{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-between;
}

.Menu img{
    width: 130px;
    height: 66px; 
 }

 nav{
    width: 35% ;
    height: 33%;
 }
ol{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.MenuLi{
    padding-top: 2%;
    padding-left: 15%;
}

.MenuLi a:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    }
    


        /* Header/ div Recherches*/
/*texte*/
.gras{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0%;

}

/*Barre de recherches-- début*/
.barre{
    width: 23%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    border: 2px #F2F2F2 solid;
    border-radius: 10px;
}
.iconeR{
    width: 50px;
    height: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}
    .loca{
        display: block;
        margin-top: 10px;
    }

.Search{
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}
    .texteVille{
        display: block;
        width: 242px;
        border: hidden;
        font-size: 15px;
        font-weight: bold;
        margin-left: 10px;
}

.loupe{
    width: 125px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
}

    .button{
        display: block;
        width: 100px;
        border: hidden;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
    }
/*barre de recherches--Fin*/

        /* header / div Filtres*/
        /*J'ai utilisé le DRY pour mes filtres. Je l'utiliserai plus loin également*/
.fa{
    margin: auto;
    color: #0065FC;
}
.Filtres{
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    font-weight: bold;
}
.Aligne{
    margin-top: 22px;
    margin-right: 22px;
}
.ligne{
    width: 90%;
    height: 15%;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

.fil {
    box-sizing: content-box;
    display: block;
    width: 200px;
    height: 40px;
    margin-right: 22px;
    display: flex;
    justify-content: flex-start;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
}
.fil:hover{
    background-color: #0065FC;
    color: white;
}

    .fil-eco{
        width: 150px;
    }
    .fil-fam{
        width: 120px;
    }
    .fil-coeur{
        width: 140px;
    }
.Boutton{
    display: block;
    width: 200px;
    padding: 0;
    border: hidden;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;

}
.Boutton:hover{
    background-color: #0065FC;
    color: white;
}
    .Boutton-E{
        margin-left: 20px;
    }
    .Boutton-F{
        margin-left: 15px;
    }
    .Boutton-R{
        margin-left: 20px;
    }
    .Boutton-A{
        margin-left: 20px;
    }

.icones{
    display: block;
    display: flex;
    justify-content: center;
    width: 35px;
    height: 40px;
    background-color: #DEEBFF;
    border-radius: 25px;
    position: absolute;
}
/* #endregion header */

/* #region Section */ 
        
            /*section général*/
section{
    width: 100%;
    height: 60%;
    padding-left: 3%;
    padding-right: 3%;
}
.infos{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}
.ic{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px #F2F2F2 solid;
    border-radius: 9px;
    margin-top: 12px;
    margin-right: 10px;
}
    .fa-info{
    padding-top: 7px;
    color: #0065FC;

}
#hebergements{
    width: 100%;
    height: 60%;
    display: flex;
}

            /*article hébergement*/
            /* placement des box lié à hébergement ville*/
.Hebergements-ville{
width: 65%;
height: 100%;
background-color: #F2F2F2;
border-radius: 10px;
margin-right: 20px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.link{
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 65%;
    height: 10%;
    padding-left: 45px;
    padding-bottom: 30px;
    
}

.Cards{
    width: 95%;
    height: 60%;
    padding-left: 45px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
}

.Card-box{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}


        /* placement des box lié aux populaires*/
.Populaires{
    width: 33%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 10px; 
    margin-left: 20px;  
}
.boite{
    display: flex;
    justify-content: space-between;
}
.starPop{
    display: block;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 0;
}
.CardsP{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding: 30px;
}


        /* configuration card général*/
.card{
    width: 30%;
    height: 100%;
    border-radius: 30px;
    font-size: 15px;
    text-align: justify;
    background-color: white;
    padding: 10px;
 } 

.card p{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 2%;
 }

.card a{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-image{
    width: 100%;
    height: 200px;
    padding-bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;
    padding-right: 0;
    object-fit: cover;
}

 .card-body{
    width: 100%;
    height: 30%;
    padding-top: 0;
    padding-bottom: 0;

 }

 .card-title{
    width: 100%;
    height: 10%;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
 }

.card-price{
    width: 100%;
    height: 10%;
    padding-top: 0;
    padding-bottom: 0;
}

.card-stars{
    width: 100%;
    height: 10%;
    padding: 3%;
    display: flex;
    justify-content: flex-start;
}

.blue-stars{
    color: #0065FC;
    display: flex;
    justify-content: flex-start;
}
.grey-stars{
    color: #d9d9d9;
    display: flex;
}
.fa-star{
    margin: auto;
    padding: 0;
}

.card:hover{
    background-color: #0065FC;
}

.card a:hover{
    background-color: white;
    }

    /*populaires*/
    /*Spécificité lié aux cards "les plus populaires"*/

.cardPop{
    width:100% ;
    height: 200px ;
    border-radius: 30px;
    font-size: 15px;
    text-align: justify;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.cardPop a{
    display: flex;
    width: 100%;
    height: 180px;
}

.cardPop .card-image{
    width: 200px;
    height: 180px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
}

.cardPop .card-body{
    width: 250px;
    height: 180px;
    padding-left: 15px;
}

.cardPop .card-title{
    width: 150px;
    height: 70px;
    padding-top: 5px;
}

.cardPop .card-price{
    width: 150px;
    height: 70px;
}

.cardPop .card-stars{
    width: 150px;
    height: 30px;
    display: flex;
    align-self: flex-end; 
    padding-left: 0;   
}

.cardPop:hover{
    box-shadow: 3px 3px 0 #0065FC;
    border: solid #0065FC;
}

        /*Article Activités */

#activites{
    width: 100%;
    height: 40%;
    margin-bottom: 40px;
}

.blocActivites{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
#activites h1{
    padding-left: 0;
    padding-bottom: 20px;
}

.vieuxPort{
    width: 400px;
    height: 500px;
}
.fortIles{
    width: 400px;
    height: 500px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.calanques{
    width: 400px;
    height: 500px; 
}

.notreDameParc{
    width: 400px;
    height: 500px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
    /* Card activité*/
.cardAct{
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 15px #F2F2F2;
    border-radius: 20px;
}

.cardAct .card-image{
    width: 100%;
    height: 440px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cardAct .card-body{
    width: 100%;
    height: 43px;
    padding-left: 20px;
}

.cardAct:hover{
    background-color: #0065FC;
    border: solid #0065FC;
    box-shadow: 5px 5px 0 #0065FC;
}
.cardAct a:hover{
    color: white;
}

        /*Card activité règles spécifiques*/

#fort{
    width: 400px;
    height: 240px;
}

#fort .card-image{
    width: 400px;
    height: 180px;
}
#fort .card-body{
    width: 400px;
    height: 50px;
}
#iles{
    width: 400px;
    height: 215px;
}

#iles .card-image{
    width: 400px;
    height: 160px;
}

#iles .card-body{
    width: 400px;
    height: 30px;
}

#notreDame{
    width: 400px;
    height: 230px;
}

#notreDame .card-image{
    width: 400px;
    height: 160px;
}

#lonchamp{
    width: 400px;
    height: 230px; 
}

#lonchamp .card-image{
    width: 400px;
    height: 160px;
}
/* #endregion Section */
        
/* #region footer*/

    /*footer général*/
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 0;
    margin-top: 10px;
}
.Apropos{
    margin-left: 7%;
    }

.Noshebergements{
    margin-left: 15%;
}

.Assistance{
    margin-left: 15%;
}
/* #endregion footer*/

/* #region Mediaqueries*/
        /*Mediaqueries tablettes*/
@media screen and (max-width : 992px){
    body{
        width: auto;
        orientation: portrait;
}
    #hebergements{
        width: 100%;
        height: 60%;
    }

}

@media screen and (max-width : 768px) {
    
}

        /*Mediaqueries Smartphone*/

/* #endregion Medaqueries*/