        /* police de la page*/
@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
}

        /*général*/
*{
    box-sizing: border-box;
}

body{
    font-family: Raleway, Verdana, sans-serif;
}
    
a{
    display: block;
    text-decoration: none;
    color :black
}

a:visited{
    color: black;
}
    
/* #region header */

header{
   width: 100%; 
   height: 30%;
   padding-left: 3%;
   padding-right: 3%;
}
.Menu{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-between;
}

.Menu img{
    width: 130px;
    height: 66px; 
 }

 nav{
    width: 35% ;
    height: 33%;
 }
ol{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.Menu a{
    padding-top: 50px;
}

.MenuLi{
    padding-left: 15%;
    margin: 0;
}

.MenuLi a:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    }
    /* #endregion header */
    
/* #region Section Recherches */
    /* div Recherches*/
/*texte*/
.gras{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0%;    
}
    
/*Barre de recherches-- début*/
.barre{
    width: 23%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    border: 2px #F2F2F2 solid;
    border-radius: 10px;
}

.iconeR{
    width: 50px;
    height: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
    
.Search{
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border: hidden;
    padding-left: 10px;
    font-weight: bold;
}
    
.loupe{
    width: 125px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    border: hidden;
    display: flex;
    justify-content: center;
}

.loupe2{
    display: none;
}
    
/*barre de recherches--Fin*/
    
/* header / div Filtres*/
    /*J'ai utilisé le DRY pour mes filtres.*/
.fa{
    margin: auto;
    color: #0065FC;
}
.Filtres{
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    font-weight: bold;
}
.Aligne{
    margin-top: 22px;
    margin-right: 22px;
}
.ligne{
    width: 90%;
    height: 15%;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

.fil {
    box-sizing: content-box;
    display: block;
    width: 200px;
    height: 40px;
    margin-right: 22px;
    display: flex;
    justify-content: flex-start;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
}
.fil:hover{
    background-color: #0065FC;
    color: white;
}

.fil-eco{
    width: 150px;
}

.fil-fam{
    width: 120px;
 }

.fil-coeur{
    width: 140px;
 }

.Boutton{
    display: block;
    width: 200px;
    padding: 0;
    border: hidden;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;   
}

.Boutton:hover{
    background-color: #0065FC;
    color: white;
}

.Boutton-E{
    margin-left: 20px;
    padding-left: 3px;
}

.Boutton-F{
    margin-left: 15px;
    padding-left: 3px;
}

.Boutton-R{
    margin-left: 20px;
    padding-left: 8px;
}

.Boutton-A{
    margin-left: 20px;
}
    
.icones{
    display: block;
    display: flex;
    justify-content: center;
    width: 35px;
    height: 40px;
    background-color: #DEEBFF;
    border-radius: 25px;
    position: absolute;
}
    /* #endregion Section Recherches*/
    
/* #region Section Hébergements */ 
    
    /* général*/
section{
    width: 100%;
    height: 60%;
    padding-left: 3%;
    padding-right: 3%;
}
.infos{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}
.ic{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px #F2F2F2 solid;
    border-radius: 9px;
    margin-top: 12px;
    margin-right: 10px;
}
.fa-info{
    padding-top: 7px;
    color: #0065FC;
    
}
.hebergements{
    width: 100%;
    height: 60%;
    display: flex;
}

/*article hébergement*/
/* placement des box lié à hébergement ville*/
.Hebergements-ville{
    width: 65%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 20px;
}

.hebergements h2{
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 0px;
    margin : 0;
}

.link{
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 65%;
    height: 10%;
    padding-left: 45px;
    padding-bottom: 30px;
    
}

.Cards{
    width: 95%;
    height: 60%;
    padding-left: 45px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
}

.Card-box{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/* placement des box lié aux populaires*/
.Populaires{
    width: 33%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 10px; 
    margin-left: 20px;  
}
.boite{
    display: flex;
    justify-content: space-between;
}
.starPop{
    display: block;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.CardsP{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding: 30px;
}


/* configuration card général*/
.card{
    width: 30%;
    height: 100%;
    border-radius: 30px;
    font-size: 15px;
    text-align: justify;
    background-color: white;
    padding: 10px;
} 

.card p{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 2%;
}

.card a{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-image{
    width: 100%;
    height: 150px;
    padding-bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;
    padding-right: 0;
    object-fit: cover;
}

.card-body{
    width: 100%;
    height: 30%;
    padding-top: 0;
    padding-bottom: 0;
    
}

.card-title{
    width: 100%;
    height: 10%;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}

.card-price{
    width: 100%;
    height: 10%;
    padding-top: 0;
    padding-bottom: 0;
}

.card-stars{
    width: 100%;
    height: 10%;
    padding: 3%;
    display: flex;
    justify-content: flex-start;
}

.blue-stars{
    color: #0065FC;
    display: flex;
    justify-content: flex-start;
}
.grey-stars{
    color: #d9d9d9;
    display: flex;
}
.fa-star{
    margin: auto;
    padding: 0;
}

.card:hover{
    background-color: #0065FC;
}

.card:hover a{
    background-color: #0065FC;
    color: white;
}
.card:hover .blue-stars{
    color: black;
}

/*populaires*/
/*Spécificité lié aux cards "les plus populaires"*/

.cardPop{
    width: 100% ;
    height: 160px ;
    border-radius: 30px;
    font-size: 15px;
    text-align: justify;
    background-color: white;
    padding: 10px;
    margin-bottom: 18px;
}
.cardPop a{
    display: flex;
    width: 100%;
    height: 150px;
}

.cardPop .card-image{
    width: 40%;
    height: 140px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
}

.cardPop .card-body{
    width: 250px;
    height: 150px;
    padding-left: 15px;
}

.cardPop .card-title{
    width: 150px;
    height: 70px;
    padding-top: 5px;
}

.cardPop .card-price{
    width: 150px;
    height: 30px;
}

.cardPop .card-stars{
    width: 150px;
    height: 30px;
    display: flex;
    align-self: flex-end; 
    padding-left: 0;   
}

.cardPop:hover{
    box-shadow: 3px 3px 0 #0065FC;
    border: solid #0065FC;
}
/* #endregion Section Hébergments */

/* #region Section Activités */

#Activités{
    width: 100%;
    height: 40%;
    margin-bottom: 40px;
}
#Activités h2{ 
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 45px;
    padding-bottom: 15px;
    margin : 0;
}

.blocActivites{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.vieuxPort{
    width: 400px;
    height: 500px;
}
.fortIles{
    width: 400px;
    height: 500px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.calanques{
    width: 400px;
    height: 500px; 
}

.notreDameParc{
    width: 400px;
    height: 500px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
    /* Card activité*/
.cardAct{
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 15px #F2F2F2;
    border-radius: 20px;
}

.cardAct .card-image{
    width: 100%;
    height: 440px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cardAct .card-body{
    width: 100%;
    height: 43px;
    padding-left: 20px;
}

.cardAct:hover{
    background-color: #0065FC;
    border: solid #0065FC;
    box-shadow: 5px 5px 0 #0065FC;
}
.cardAct a:hover{
    color: white;
}

        /*Card activité règles spécifiques*/

#fort{
    width: 400px;
    height: 240px;
}

#fort .card-image{
    width: 400px;
    height: 180px;
}
#fort .card-body{
    width: 400px;
    height: 50px;
}
#iles{
    width: 400px;
    height: 215px;
}

#iles .card-image{
    width: 400px;
    height: 160px;
}

#iles .card-body{
    width: 400px;
    height: 30px;
}

#notreDame{
    width: 400px;
    height: 230px;
}

#notreDame .card-image{
    width: 400px;
    height: 160px;
}

#lonchamp{
    width: 400px;
    height: 230px; 
}

#lonchamp .card-image{
    width: 400px;
    height: 160px;
}
/* #endregion Section Activités */
        
/* #region footer*/

    /*footer général*/
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 0;
    margin-top: 10px;
}
.Apropos{
    margin-left: 3%;
    }

.Noshebergements{
    margin-left: 20%;
}

.Assistance{
    margin-left: 25%;
}
/* #endregion footer*/

/* #region Mediaqueries*/
        /*Mediaqueries desktop*/
@media screen and (min-width : 991px) and (max-width : 1500px){  
.blocPage{
    width: 100%;
    height: auto;
}

/* section recherches début*/
.iconeR{
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
/* section recherches fin*/

/* section hébergement début*/
.Hebergements-ville{
    width: 60%;
    height: 100%;
    margin-right: 10px;
}

.Populaires{
    width: 40%;
    height: auto;
    margin-left: 10px;
}

    /*  card hébergement marseille début*/
.card{
    height: auto;
}
    /* card hébergement marseille fin*/

    /* card pop début */
.cardPop p{
    margin-top: 0;
}
.cardPop .card-image{
    width: 40%;
}

.cardPop .card-body{
    width: 60%;
    height: 100%;
}

.cardPop .card-title{
    width: 70%;
    height: 40%;
}

.cardPop .card-price{
    width: 40%;
    height: 30%;
}
    /* card pop fin */
/* section hébergement fin */

/* section activités début */
.blocActivites{
    width: 100%;
    height: auto;
}

.vieuxPort{
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 30px;
}

.fortIles{
    width: 25%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 30px;
}

.calanques{
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 30px;
}

.notreDameParc{
    width: 25%;
    height: auto;
    margin-bottom: 20px;
}


/* card Activités début */
.cardAct{
    width: 100%;
}

#fort{
    width: 100%;
}

#fort .card-image{
    width: 100%;
}

#fort .card-body{
    width: 100%;
}

#iles{
    width: 100%;
}

#iles .card-image{
    width: 100%;
}

#iles .card-body{
    width: 100%;
}

#notreDame{
    width: 100%;
}

#notreDame .card-image{
    width: 100%;
}

#notreDame .card-body{
    width: 100%;
}

#lonchamp{
    width: 100%;
}

#lonchamp .card-image{
    width: 100%;
}

#lonchamp .card-body{
    width: 100%;
}
/* card Activités fin */
/* section activités fin */
}

        /* Mediaqueries tablettes*/
@media screen and (max-width : 992px){
.blocPage{
    width: 100%;
    height: auto;
}

    /*Boite menu */
.Menu{
    flex-direction: column;
}

.Menu p{
    display: flex;
    justify-content: center;
}

.Menu nav{
    width: auto;
    display: flex;
    justify-content: center; 
}

.Menu ol{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-right: 50px;
}
.Menu li{
    padding: 0;
}

.Menu a{
    padding-bottom: 30px;
}

.MenuLi a:hover{
    color: #0065FC;
    border-top: none;
    border-bottom: 3px #0065FC solid;
}
    /* Boite menu fin*/
    
    /* Boite Recherches début */

.recherches{
    flex-direction: column;
}
.gras{
    display: flex;
    justify-content: center;
 } 

.recherches p{
    display: flex;
    justify-content: center;
}

.barre{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.iconeR{
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
    
.Search{
    width: 60%;
 }

 .loupe{
    width: 30%;
 }
    /* Boite Recherches fin*/

    /* Boite Filtres début */
.Filtres{
    width: 100%;
}

.Aligne{
    width: 5%;
    align-self: center;
}

.ligne{
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fil{
    margin: 1%;
}
    /* Boite Filtres fin*/


    /*Boites hebergements début */

.hebergements{
    width: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.Populaires{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 0;
}

.boite{
    display: flex;
    justify-content: center;
}

.CardsP{
    width: 100%;
    margin: auto;

}
    /* card Pop début*/
.cardPop{
    width: auto;
    height: 28%;
}

.cardPop a{
    width: 100%;
    height: 100%;
}

.cardPop .card-image{
    width: 40%;
    height: 150px;
}

.cardPop .card-body{
    width: 60%;
}

.cardPop .card-title{
    width: auto;
}
    /* card pop fin */

.Hebergements-ville{
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

.Cards{
    padding-left: 30px;
}

    /* card hébergement début */
.card{
    height: auto;
}
    /* card hébergement fin*/

    /*Boites hebergements fin */

    /*Boite Activités début */
.blocActivites{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.vieuxPort{
    width: 45%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.fortIles{
    width: 45%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.calanques{
    width: 45%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.notreDameParc{
    width: 45%;
    margin-bottom: 20px;
    margin-right: 20px; 
}

/* card Activités début */
.cardAct{
    width: 100%;
}

#fort{
    width: 100%;
}

#fort .card-image{
    width: 100%;
}

#fort .card-body{
    width: 100%;
}

#iles{
    width: 100%;
}

#iles .card-image{
    width: 100%;
}

#iles .card-body{
    width: 100%;
}

#notreDame{
    width: 100%;
}

#notreDame .card-image{
    width: 100%;
}

#notreDame .card-body{
    width: 100%;
}

#lonchamp{
    width: 100%;
}

#lonchamp .card-image{
    width: 100%;
}

#lonchamp .card-body{
    width: 100%;
}
/* card Activités fin */
    /*Boite Activités fin */
}

        /*Mediaqueries Smartphone*/
@media screen and (max-width : 767px){
header{
    width: 100%;
}

.blocPage{
    width: 100%;
    height: auto;
}

    /*Boite menu début */
.Menu{
    width: auto;
    flex-direction: column;
    font-size: 30px;
}

.Menu img{
    width: auto;
    height: 100px;
}
.Menu p{
    display: flex;
    justify-content: center;
    margin-left: 33px;
}

.Menu nav{
    width: auto;
    font-size: 40px;
}

.Menu ol{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.Menu li{
    padding: 0;
}

.Menu a{
    padding-top: 20px;
    padding-bottom: 30px;
}

.MenuLi a:hover{
    color: #0065FC;
    border-top: none;
    border-bottom: 3px #0065FC solid;
}
    /* Boite menu fin*/
    
    /* Boite Recherches début */
.recherches{
    font-size: 40px;
    margin-top: 30px;
}

.gras{
    display: flex;
    justify-content: center;
    font-size: 40px;
 } 

.recherches p{
    display: inline;
    margin-top: 3px;
}

.barre{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 0;
}

.iconeR{
    width: 15%;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.Search{
     width: 70%;
     height: 70px;
     padding-left: 30px;
}

.loupe{
    display: none;
}

.loupe2{
    width : 15%;
    display: flex;
    justify-content: center;
    background-color: #0065FC;
    color: white;
    display: flex;
    border: hidden;
    padding-top: 12px;
    border-radius: 10px;
}
    /* Boite Recherches fin*/

    /* Boite Filtres début */
.Filtres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    font-size: 40px;
}

.Aligne{
    margin-bottom: 0;
}

.ligne{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.fil{
    width: 45%;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    font-size: 30px;
}

.icones{
    width: 11%;
    height: 80px;
    border-radius: 40px;
}

.Boutton{
    width: 95%;
    height: 80px;
    margin-left: 50px;
    border-radius: 40px;
}

.fil-fam{
    width: 40%;
    margin-right: 7%;
}

.fil-coeur{
    margin-right: 40%;
}

.Boutton-F{
    margin-left: 20px;
    border-radius: 40px;
}

.fil-animaux{
    width: 60%;
}

.Boutton-A{
    margin-left: 10%;
}

    /* Boite Filtres fin*/


    /*Boites hebergements début */
.hebergements{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.infos{
    font-size : 30px;
}

.ic{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 33px;
}

.fa-info{
    margin-top: 5px;
}

/* populaires début */
.Populaires{
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 40px;
}

.boite{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 25px;
}

.boite h2{
    padding: 0;
    font-size: 40px
}

.boite .starPop{
    padding-bottom: 25px;
    padding-top: 0;
}

.CardsP{
    width: auto;
    margin: 20px;
    padding: 0;
}

/* populaires fin */
    /* card pop début*/

.cardPop{
    width: 100%;
    height: auto;
    font-size: 30px;
}

.cardPop a{
    width: auto;
    height: 280px;
}

.cardPop p{
    margin-top: 10px;
}
.cardPop .card-image{
    width: 40%;
    height: auto;
}

.cardPop .card-body{
    width: 55%;
    height: auto;
    padding-left: 25px;
}

.cardPop .card-title{
    width: auto;
    height: 120px;
    font-size: 30px;
    padding-top: 0;
}

.cardPop .card-price{
    width: auto;
    height: 100px;
    font-size: 30px;
}

/* card pop fin*/

/* hébergement marseille début */
.Hebergements-ville{
    width: 100%;
    margin-right: 0;
    background-color: white;
}

.Hebergements-ville h2{
    font-size: 40px;
    padding-left: 0;
}

.Cards{
    padding-top: 15px;
    padding-left: 0;
    margin-right: 0;
}

.Card-box{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.link{
    font-size: 40px;
}
/* hebergements marseille fin */
    /* card hébergement début */
.card{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    box-shadow: 7px 7px 10px #F2F2F2;
 }

 .card a{
    font-size: 30px;
 }

 .card .card-image{
    height: 250px;
 }
    /* card hébergement fin*/

    /*Boites hebergements fin */

    /*Boite Activités début */
#Activités h2{
    font-size: 40px;
}

.blocActivites{
    flex-direction: column;
}

.vieuxPort{
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
}

.fortIles{
    width: 100%;
    height: 600px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
}

.calanques{
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
}

.notreDameParc{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
}

    /* cardAct début*/
.cardAct{
    width: auto;
    height: 300px; 
}

.cardAct a{
    font-size: 30px;
}

.cardAct .card-image{
    height: 200px;  
}

.cardAct p{
    margin-top: 15px;
}

#fort{
    width: auto;
    height: 300px;
    margin-bottom: 25px;
}

#fort .cardAct{
    width: auto;
    height: 200px;
}

#fort .card-image{
    width: 100%;
    height: 200px;
}

#iles{
    width: auto;
    height: 300px;
}

#iles .card-image{
    width: 100%;
    height: 200px;
}

#notreDame{
    width: 100%;
    height: 300px; 
    margin-bottom: 25px; 
}

#notreDame .card-image{
    width: 100%;
    height: 200px;
}

#lonchamp{
    width: 100%;
    height: 300px;
}

#lonchamp .cardAct{
    width: 100%;
    height: 300px;
}

#lonchamp .card-image{
    width: 100%;
    height: 200px;
}
    /* cardAct fin*/
    /*Boite Activités fin */

    /*Boite footer début */
footer{
    width: 100%;
    flex-direction: column;
    font-size: 40px;
}

.Noshebergements{
    width: 100%;
    margin-left: 3%;
}

.Assistance{
    width: 100%;
    margin-left: 3%;
}
    /*Boite footer fin */
}
/* #endregion Medaqueries*/